<div class="container-index-lesson">
<div class="container">
  <% if current_user.teacher %>
    <%= link_to "Add a notion", new_notion_path, class: 'btn btn-flat' %>
  <% end %>


  <h1>All notions</h1>
  <div class="row">
  <% @categories.each do |category| %>
    <h1><%=  category.name%></h1>
    <% category.notions.each do |notion|%>
      <div class="col-sm-4">
      <%= link_to notion_path(notion) do %>


        <div class="card-notion">
            <%= cl_image_tag notion.photo%>
            <div class="card-notion-infos">
              <div>
                <h2><%=  notion.name%></h2>

              </div>
              <%= cl_image_tag notion.user.avatar, class: "card-notion-user avatar-bordered"%>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>
  <% end %>


</div>
</div>
