<div class="container-index-lesson">
<div class="container">
  <% if current_user.teacher %>
    <%= link_to "Add a notion", new_notion_path, class: 'btn btn-flat' %>
  <% end %>

  <% @categories.each do |category| %>
  <div>
    <h1 class="text-center"><%= category.name %></h1>
    <br>
    <div class="row">
    <% category.notions.each do |notion|%>
      <div class="col-sm-4">
      <%= link_to notion_path(notion) do %>


        <div class="card-notion">
            <%= cl_image_tag notion.photo%>
            <div class="card-notion-infos">
              <div>
                <h2><%=  notion.name%></h2>

              </div>
              <%= cl_image_tag notion.user.avatar, class: "card-notion-user avatar-bordered"%>
            </div>
          </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
