<div class="container">
  <% if current_user.teacher %>
    <h1>My notions</h1>
    <% @mynotions.each do |notion| %>
      <%= link_to notion_path(notion) do  %>
        <h2><%=  notion.name%></h2>
        <p><%=  notion.description%></p>
      <% end %>
    <% end %>
  <% end %>



  <% @notions.each do |notion|%>
    <%= link_to notion_path(notion) do %>
      <h2>  <%= notion.name %> </h2>
      <p><%= notion.description %></p>
      <% end %>
  <% end %>



</div>
