<div class="container">

  <div class="reserve-notion">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModalCenter">
      Take a lesson
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Take a lesson for : <%= @notion.name %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-container">
                <h1>Create a lesson 👟</h1>
                <%= simple_form_for @lesson do |f| %>
                  <%= f.association :teacher, collection: User.where(teacher: true), label_method: :first_name %>
                  <%= f.input :notion_id, as: :hidden, input_html: { value: @notion.id }   %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, class: 'btn btn-flat' %>
                <% end %>
              </div>

          </div>
        </div>
      </div>
    </div>



  </div>

    <div class="row">
      <div class="col-sm-12">
        <h1><%= @notion.name %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div class="img-lesson"> <%= cl_image_tag @notion.photo %> </div>

      </div>
      <div class="col-sm-7">
        <video controls width="100%">
          <source src="<%= cl_video_path @notion.video %>" type="video/webm">
        </video>
        <p><%= @notion.description %></p>
      </div>
    </div>

  </div>
























</div>
