<script>

  const path ='notion';
  const idn = document.getElementById(path);
  const attribut = idn.getAttribute("id");
  if (attribut == "notion"){
    idn.classList.add("active");
  }else if (attribut == "lesson"){
    idn.classList.add("active");
  }else if (attribut == "emotion"){
    idn.classList.add("active");
  }else if (attribut == "dashboard"){
    idn.classList.add("active");
  }
</script>


<div class="container">

  <div class="reserve-notion">



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Take a lesson for : <%= @notion.name %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-container">
              <h1>Reserver un cours 👟</h1>
              <%= simple_form_for @lesson do |f| %>
              <%= f.association :teacher, collection: User.where(teacher: true), label_method: :first_name %>
              <%= f.input :notion_id, as: :hidden, input_html: { value: @notion.id }   %>
              <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, class: 'btn btn-flat' %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>

  <h2><%= @notion.name %></h2>
  <hr>

  <div class="row">

    <div class="col-md-5">
      <div class="card-sport">
        <div class="card-img" style="background-image: url('<%= cl_image_path @notion.photo %>')"></div>
        <div class="card-desc">
          <h3><%= @notion.name %></h3>
          <div class="card-option">
            <div class="col-option">
              <button type="button" data-toggle="modal" data-target=<%="#exampleModalCenter"%>>
                <i class="far fa-calendar-plus"></i> Réserver un cours

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <p><%= @notion.description %>
      </p>
    </div>
  </div>
  <h2>Vidéo explicative</h2>
  <hr>

  <video controls width="100%" style="margin-bottom: 50px">
    <source src="<%= cl_video_path @notion.video %>" type="video/webm">
    </video>
    <!-- <div class="col-sm-5">
      <div class="img-lesson"> <%= cl_image_tag @notion.photo %> </div>

    </div>
    <div class="col-sm-7">
      <video controls width="100%">
        <source src="<%= cl_video_path @notion.video %>" type="video/webm">
        </video>
        <p><%= @notion.description %></p>
      </div>
    </div> -->

  </div>
























</div>
