<header>

  <div class="first-nav">
    <%= link_to root_path do %>
    <%=image_tag 'logoroger.png', style: ''%>
    <% end %>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" id="notion">
          <%= link_to "LES NOTIONS", notions_path, class: "nav-link"unless action_name == 'home' %>
        </li>
        <span>|</span>

        <li class="nav-item" id="lesson">
          <%= link_to "MES COURS", lessons_path, class: "nav-link" unless action_name == 'home' %>
        </li>
        <span>|</span>
        <li class="nav-item" id="emotion">
          <%= link_to "E-MOTION", test_path, class: "nav-link" unless action_name == 'home'%>
        </li>
        <span>|</span>
        <li class="nav-item" id="teacher">
          <%= link_to "LES PROFS", teachers_path, class: "nav-link unless action_name == 'home'" %>
        </li>
        <span>|</span>

        <li class="nav-item" id="dashboard">
         <%= link_to "MON DASHBOARD", dashboard_path, class: "nav-link" unless action_name == 'home'%>
       </li>

       <span>|</span>

       <li class="nav-item ml-5">
        <%= link_to "<i class='fas fa-sign-out-alt'></i>".html_safe, destroy_user_session_path, method: :delete, class: 'text-white' %>
      </li>



    </ul>
  </div>
</nav>
</header>


