<div class="container">
  <h1>Dashboard</h1>

 <div class="box0">

    <div class="box1">
      <h1>All upcoming lessons</h1>
      <% @all_upcoming_lessons.each do |lesson| %>
       <div class="little_box">
        <ul>
          <li> <%= lesson.date %> </li>
          <li> <%= lesson.student.full_name %></li>
          <li> <%= lesson.notion.name %> </li>
          <p class="space"> </p>
        </ul>
       </div>
        <% end %>
    </div>


    <div class="box2">
      <h1>Next notion</h1>
      <div class="little_box1">
       <ul>
        <%= cl_image_tag @all_upcoming_lessons.first.notion.photo, width: 400, height: 300, crop: :fill %>
        <li> <%= @all_upcoming_lessons.first.notion.name %> </li>
       </ul>
      </div>
    </div>

  </div>

    <div class="box3">
      <h1>Past notion</h1>
      <div class="little_box2">
        <ul>
          <% if @all_past_lessons.nil? %>
            <h1>pas de notions</h1>
          <% else %>
            <% @all_past_lessons.each do |lesson| %>
              <%= lesson.notion.name %>
              <%= lesson.notion.video %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

</div>

