<!-- <div class="container"> -->
 <div class="mainBanner2">
  <%= image_tag "image.png", class: "image" %>
  <%= image_tag "recblanc.svg", class: "recblanc" %>
  <%= image_tag "recvert.png", class: "recvert" %>
  <%= image_tag "recblue.png", class: "recblue" %>
  <%= image_tag "roger-that.svg", class: "roger-that" %>
<div class="button-home">
  <%= link_to "START", notions_path, class: 'btn btn-flat2' %>
</div>




</div>
<!-- </div> -->




