<div class="container">

  <div class="form-container">
    <h1>Create a lesson 👟</h1>
    <%= simple_form_for @lesson do |f| %>
      <%= f.association :teacher, collection: User.where(teacher: true), label_method: :email %>
      <%= f.association :notion, collection: Notion.all, label_method: :name %>
      <%= f.input :student, as: :hidden, input_html: { value: current_user }   %>
      <%= f.input :date, as: :datetime, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>
