<div class="container">
  <% if current_user.teacher %>
    <h1>My upcoming lessons</h1>
    <% @lessons.each do |lesson|%>
      <%= link_to lesson_path(lesson) do %>

     <ul class="list-group list-group-horizontal-lg card-index-lesson">
        <li class="list-group-item"><%= lesson.notion.name %></li>
        <li class="list-group-item"><%= "#{lesson.teacher.first_name} #{lesson.teacher.last_name}" %></li>
        <li class="list-group-item">
          <%= lesson.date.strftime('%A %e %B')%><br>
          <%= lesson.date.strftime('%l:%M')%>
        </li>
      </ul>
  <% end %>
<% end %>

    <h1>My past lessons</h1>
    <% @passed_lessons.each do |lesson|%>
      <%= link_to lesson_path(lesson) do %>
       <ul class="list-group list-group-horizontal-lg card-index-lesson">
        <li class="list-group-item"><%= lesson.notion.name %></li>
        <li class="list-group-item"><%= "#{lesson.teacher.first_name} #{lesson.teacher.last_name}" %></li>
        <li class="list-group-item">
          <%= lesson.date.strftime('%A %e %B')%><br>
          <%= lesson.date.strftime('%l:%M')%>
        </li>
      </ul>
      <% end %>
    <% end %>

  <% else %>
    <h1>My upcoming lessons</h1>
    <% @lessons.each do |lesson|%>
      <%= link_to lesson_path(lesson) do %>
        <ul class="list-group list-group-horizontal-lg card-index-lesson">
        <li class="list-group-item"><%= lesson.notion.name %></li>
        <li class="list-group-item"><%= "#{lesson.teacher.first_name} #{lesson.teacher.last_name}" %></li>
        <li class="list-group-item">
          <%= lesson.date.strftime('%A %e %B')%><br>
          <%= lesson.date.strftime('%l:%M')%>
        </li>
      </ul>
      <% end %>
    <% end %>
    <h1>My past lessons</h1>
    <% @passed_lessons.each do |lesson|%>
      <%= link_to lesson_path(lesson) do %>
        <ul class="list-group list-group-horizontal-lg card-index-lesson">
        <li class="list-group-item"><%= lesson.notion.name %></li>
        <li class="list-group-item"><%= "#{lesson.teacher.first_name} #{lesson.teacher.last_name}" %></li>
        <li class="list-group-item">
          <%= lesson.date.strftime('%A %e %B')%><br>
          <%= lesson.date.strftime('%l:%M')%>
        </li>
      </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
