<div class="container">
  <h1>My upcoming lessons</h1>
  <% @lessons.each do |lesson|%>
    <%= link_to lesson_path(lesson) do %>
      <h4><%= lesson.notion.name %></h4>
      <%= lesson.date.strftime('%A %e %B, at %l:%M')%>
    <% end %>
  <% end %>
  <h1>My past lessons</h1>
  <% @passed_lessons.each do |lesson|%>
    <%= link_to lesson_path(lesson) do %>
      <h4><%= lesson.notion.name %></h4>
      <%= lesson.date.strftime('%A %e %B, at %l:%M') %>
    <% end %>
  <% end %>
</div>
