


<%=  render "shared/post-it" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @lesson.notion.name %></h1>
    </div>
  </div>
  <% if current_user == @lesson.teacher && @lesson.status == 'pending'%>

      <%= link_to "Confirm", changestatus_lesson_path(@lesson, :status => 'accepted'), method: :POST, class: "btn-confirm"%>



      <%= link_to "Refuse", changestatus_lesson_path(@lesson, :status => 'refused'), method: :POST, class: "btn-refuse" %>

  <% end %>
  <div class="row">
    <div class="col-sm-5">
      <div class="img-lesson"> <%= cl_image_tag @lesson.notion.photo %> </div>
      <% unless @lesson.comment.nil? %>
        <div class="card-comment">
          <%= cl_image_tag @lesson.teacher.avatar %>
          <div class="card-comment-infos">
            <h2><%= @lesson.teacher.first_name %> said :</h2>
            <p><%= @lesson.comment %></p>
          </div>
        </div>
      <% end %>
      <% if @lesson.review.nil?  && current_user == @lesson.student %>
        <h1>Rating <%= @lesson.teacher.first_name %> <%= @lesson.teacher.last_name %></h1>
        <%= simple_form_for [@lesson, @review] do |f| %>
          <%= f.input :rating , collection: (0..5).to_a %>
          <%= f.input :comment %>
          <%= f.submit %>
        <% end %>
      <% end %>
      <% if current_user == @lesson.teacher && @lesson.comment.nil? %>
        <h1>Write a comment for <%= @lesson.student.first_name %> <%= @lesson.student.last_name %></h1>
        <%= simple_form_for @lesson do |f| %>
          <%= f.input :comment %>
          <%= f.submit %>
        <% end %>
      <%end %>
    </div>
    <div class="col-sm-7">
      <video controls width="100%">
        <source src="<%= cl_video_path @lesson.notion.video %>" type="video/webm">
      </video>
      <p><%= @lesson.notion.description %></p>
    </div>
  </div>

</div>



























