<div class="container">
  <%= link_to notion_path(@lesson.notion) do %>
    <div class="card-notion">
      <%= cl_image_tag @lesson.notion.photo%>
      <div class="card-notion-infos">
        <div>
          <h2><%=  @lesson.notion.name%></h2>
          <p><%=  @lesson.notion.description%></p>
        </div>
        <%= cl_image_tag @lesson.notion.user.avatar, class: "card-notion-user avatar-bordered"%>
      </div>
    </div>
  <% end %>

  <% unless @lesson.comment.nil? %>
    <div class="card-comment">
      <%= cl_image_tag @lesson.teacher.avatar %>
      <div class="card-comment-infos">
        <h2><%= @lesson.teacher.first_name %> said :</h2>
        <p><%= @lesson.comment %></p>
      </div>
    </div>

  <% end %>


  <br>

  <% unless current_user.teacher %>
    <%= link_to "Edit", edit_lesson_path(@lesson) %>
  <% end %>

  <% if current_user == @lesson.teacher && @lesson.status == 'pending'%>

      <%= link_to "Confirm", changestatus_lesson_path(@lesson, :status => 'accepted'), method: :POST, class: "btn-confirm"%>



      <%= link_to "Refuse", changestatus_lesson_path(@lesson, :status => 'refused'), method: :POST, class: "btn-refuse" %>

  <% end %>
  <br>
  <br>
  <% if current_user == @lesson.teacher && @lesson.comment.nil? %>
    <%= simple_form_for @lesson do |f| %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  <%end %>
</div>
