<div class="container">
  <div class="rapport-lesson">
    <%= link_to notion_path(@lesson.notion) do %>
      <div class="rapport-lesson-notion">
        <%= cl_image_tag @lesson.notion.photo %>
        <h1><%= @lesson.notion.name %></h1>
        <p><%= @lesson.notion.description %></p>
        <%= cl_image_tag @lesson.notion.user.avatar, class: "card-notion-user avatar-bordered"%>

      </div>


    <% end %>
      <div class="rapport-lesson-date">
        <%= cl_image_tag @lesson.teacher.avatar, class: "avatar" %>
        <h4><%= @lesson.date.strftime('%A %e %B, at %l:%M') %></h4>
        <h5>In 🕘: <%= distance_of_time_in_words(@lesson.date, DateTime.now) %></h5>
      </div>
  </div>

  <% unless @lesson.comment.nil? %>
    <div class="card-comment">
      <%= cl_image_tag @lesson.teacher.avatar %>
      <div class="card-comment-infos">
        <h2><%= @lesson.teacher.first_name %> said :</h2>
        <p><%= @lesson.comment %></p>
      </div>
    </div>

  <% end %>


  <br>

  <% unless current_user.teacher %>
    <%= link_to "Edit", edit_lesson_path(@lesson) %>
  <% end %>

  <% if current_user == @lesson.teacher && @lesson.status == 'pending'%>

      <%= link_to "Confirm", changestatus_lesson_path(@lesson, :status => 'accepted'), method: :POST, class: "btn-confirm"%>



      <%= link_to "Refuse", changestatus_lesson_path(@lesson, :status => 'refused'), method: :POST, class: "btn-refuse" %>

  <% end %>
  <br>
  <br>
  <% if current_user == @lesson.teacher && @lesson.comment.nil? %>
    <h1>Write a comment for <%= @lesson.student.first_name %> <%= @lesson.student.last_name  %></h1>
    <%= simple_form_for @lesson do |f| %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  <%end %>

  <br>
  <% if @lesson.review.nil?  && current_user == @lesson.student %>
    <h1>Rating <%= @lesson.teacher.first_name %> <%= @lesson.teacher.last_name %></h1>
    <%= simple_form_for [@lesson, @review] do |f| %>
      <%= f.input :rating , collection: (0..5).to_a %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>
