<script>

  const path = 'lesson'
  const idn = document.getElementById(path);
  const attribut = idn.getAttribute("id");
  if (attribut == "notion"){
    idn.classList.add("active");
  }else if (attribut == "lesson"){
    idn.classList.add("active");
  }else if (attribut == "emotion"){
    idn.classList.add("active");
  }else if (attribut == "dashboard"){
    idn.classList.add("active");
  }
</script>


<div class="container">
  <% if current_user == @lesson.teacher && @lesson.status == 'pending'%>

  <%= link_to "Confirm", changestatus_lesson_path(@lesson, :status => 'accepted'), method: :POST, class: "btn-confirm"%>



  <%= link_to "Refuse", changestatus_lesson_path(@lesson, :status => 'refused'), method: :POST, class: "btn-refuse" %>

  <% end %>







</div>


<div class="container">

  <h2><%= @lesson.notion.name %></h2>
  <hr>

  <div class="row">
    <div class="col-md-12 mb-5">
      <% unless @lesson.comment.nil? %>
      <div class="card-comment">
        <%= cl_image_tag @lesson.teacher.avatar %>
        <div class="card-comment-infos">
          <h2>Conseil d'<%= @lesson.teacher.first_name %> :</h2>
          <p><%= @lesson.comment %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="card-sport">
        <div class="card-img" style="background-image: url('<%= cl_image_path @lesson.notion.photo %>')"></div>
        <div class="card-desc" style="min-height: 200px; height: auto">
          <h3 style="height: auto"><%= @lesson.notion.name %></h3>
          <div class="lesson-param">
            <div class="lesson-option"><%= cl_image_tag @lesson.teacher.avatar, class: 'avatar' %> <%= @lesson.teacher.first_name %> <%= @lesson.teacher.last_name %></div>
            <div class="lesson-option">
              <i class="far fa-calendar-plus"></i>
              <p>
                <%= @lesson.date.strftime('%A %e %B')%><br>
                <%= @lesson.date.strftime('%l:%M')%>
              </p>
            </div>
            <div class="lesson-option">
              <a href="#review" style="color: #000">
                <i class="far fa-star"></i>Noter <%= @lesson.teacher.first_name %> <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <p><%= @lesson.notion.description %>
      </p>
    </div>
  </div>

  <h2>Vidéo explicative</h2>
  <hr>

  <video controls width="100%" style="margin-bottom: 50px">
    <source src="<%= cl_video_path @lesson.notion.video %>" type="video/webm">
    </video>

    <div class="col-md-12 mb-5" id="review">
      <% if @lesson.review.nil?  && current_user == @lesson.student %>
      <h2>Laisser un avis pour <%= @lesson.teacher.first_name %> <%= @lesson.teacher.last_name %></h2>
      <hr>
      <%= simple_form_for [@lesson, @review], class: 'form-ball' do |f| %>
      <%= f.input :rating, default:1, label: "Note:" , collection: [1, 2, 3, 4, 5], :as => :radio_buttons, label_method: lambda { |l| image_tag 'ballverte.svg'}%>
      <%= f.input :comment, label: "Commentaire:      " %>
      <%= f.submit "Envoyer", class: 'btn btn-dark' %>
      <% end %>
      <% end %>
      <% if current_user == @lesson.teacher && @lesson.comment.nil? %>
      <h2>Laisser un commentaire pour <%= @lesson.student.first_name %> <%= @lesson.student.last_name %></h2>
      <hr>
      <%= simple_form_for @lesson do |f| %>
      <%= f.input :comment, label: "Commentaire" %>
      <%= f.submit "Envoyer" , class: 'btn btn-dark' %>
      <% end %>
      <%end %>
    </div>
  </div>
</div>
